.modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: auto;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(18, 15, 19, 0.5);
    padding: 1rem;
    z-index: 10;
}

.modal-container {
    background: #120F13;
    border-radius: 24px;
    max-width: 450px;
    width: 100%;
    padding: 2rem;
    box-shadow: 0 1px 2px rgba(255, 255, 255, 0.4), 0 -1px 2px rgba(255, 255, 255, 0.4);
}

.modal-container h2 {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #F2F2F2;
    margin-bottom: 1.5rem;
}

.modal-group {
    width: 100%;
}

.modal-group input,
.modal-group textarea {
    background: #3C393F;
    border-radius: 8px;
    width: 100%;
    font-family: inherit;
    outline: none;
    border: none;
    color: #F2F2F2;
    font-size: 16px;
    height: 48px;
    margin-bottom: 1.5rem;
    padding: 0 0.7rem;
}

.modal-group textarea {
    height: 115px;
    resize: none;
    padding-top: 0.5rem;
}

.modal-group input::placeholder,
.modal-group textarea::placeholder {
    color: #828282;
}

.modal-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.modal-buttons button {
    width: 100px;
    height: 40px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    color: #F2F2F2;
}

.modal-submit {
    background: #2F80ED;
    border: none;
    margin-left: 0.8rem;
}

.modal-cancel {
    background-color: transparent;
    border: solid 1px #828282;
}

.modal small {
    font-size: 13px;
    color: #c20f0f;
    margin: 0.5rem 0;
}



@media (min-width: 768px) {
    .modal-container h2 {
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
    }
    .modal-group input,
    .modal-group textarea {
        font-size: 18px;
    }
    .modal-submit button {
        font-size: 18px;
    }
    .modal-submit button:hover {
        opacity: 0.7;
    }
}


@media (min-width: 950px) {
    .modal-container {
        max-width: 650px;
    }
}









