.notFound_container {
    min-height: 100vh;
    width: 100%;
    padding: 2rem 1rem;
}

.notFound-page {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
}

.err-text {
    margin-bottom: 2rem;
    width: 100%;
}

.err-text h2 {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1rem;
    font-size: 22px;
    color: #2D9CDB;
    text-align: center;
}

.err-text h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
}

.err-text p {
    font-size: 15px;
    line-height: 22px;
    text-align: center;
}

.err-text p a {
    color: dodgerblue;
}


.notfound-image img {
    max-width: 400px;
    width: 100%;
    height: auto;
}

@media (min-width: 500px) {
    .notFound_container {
        padding: 3rem;
    }
}

@media (min-width: 768px) {
    .err-text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
    }
    .err-text h2 {
        font-size: 40px;
    }
    
    .err-text h4 {
        font-size: 18px;
    }

    .notFound_container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .notFound-page {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
        max-width: 1100px;
    }

    .notfound-image img {
        max-width: 100%;
    }
}
