.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    padding: 1rem;
}

.login {
    justify-content: center !important;
}

.signup_logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1.5rem;
} 

.log_in {
    margin-bottom: 4rem;
}

.login_page {
    width: 100%;
}

.signup_page h1,
.login_page h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.035em;
    margin-bottom: 1.5rem;
}

.signup_page > p {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.035em;
    margin-bottom: 1.5rem;
}

.form {
    margin-bottom: 2.5rem;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form_control {
    position: relative;
    margin-bottom: 0.8rem;
    width: 100%;
}

.login_page .form_control label {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15px;
    left: 12px;
    color: #828282;
}

.login_page .form_control input {
    padding-left: 40px;
    padding-right: 10px;
    width: 100%;
    height: 46px;
    border: 1px solid #BDBDBD;
    border-radius: 8px;
    background-color: transparent;
    font-family: inherit;
    font-size: 16px;
    line-height: 22px;
    outline: none;
    letter-spacing: -0.035em;
    color: #E0E0E0;
}

input::placeholder {
    color: #828282;
    font-size: 15px;
}

.form form button {
    background: #2F80ED;
    border-radius: 8px;
    width: 100%;
    height: 42px;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: inherit;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.035em;
    color: #FFFFFF;
    margin-top: 0.8rem;
}

.oauth {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.oauth > p {
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.035em;
    color: #828282;
    text-align: center;
    margin-bottom: 1.5rem;
}

.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

.auth div {
    margin-right: 15px;
}

.auth div img {
    width: 42px;
    height: 42px;
    cursor: pointer;
}

/* .auth div img:hover {
    fill: #2F80ED;
    color: #2F80ED;
} */

.or p {
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.035em;
    color: #828282;
}

.or p a {
    color: #2F80ED;
}

.footer {
    width: 100%;
}

.footer div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer div p {
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.035em;
    color: #BDBDBD;
}

.footer div p a {
    text-decoration: underline;
}

.footer div p a:hover {
    color: #2F80ED;
}


@media (min-width: 450px) {
    .container {
        justify-content: center;
    }

    .signup_page,
    .login_page {
        border: solid 1px #BDBDBD;
        border-radius: 24px;
        padding: 2rem 2.5rem;
        width: 380px;
    }
    
    .signup_page h1 {
        margin-bottom: 1rem;
    }

    .signup_page > p {
        line-height: 20px;
        margin-bottom: 1rem;
    }

    .form {
        margin-bottom: 2rem;
    }
    
    .footer {
        width: 380px;
        margin-top: 1rem;
    }
}
